body{
    background-image: url(/imagenes/fondos.jpg);
  
    background-size: cover; 
    } 
   
  .contenedor{

 
   width: 1200px;
    margin: 0px auto;
} 
    
    #titulo{
    font-family: 'Quintessential', cursive;
      background-color: #ad2818 ;
       color: #efeaa4 ;
      font-weight: bold;
      font-size: 60px; 
      text-align: center;
      margin: 40px 0px 20px 0px; 
    text-shadow: 4px 3px  black;  
     border-radius: 3%;
     
    }
 
#imagenes{

   width: 100px;
    height: 200px;

}
 h1{ 
      padding: 10px 10px 10px 10px;
      background-color: #feeb00;
      color:black;
      text-shadow: 2px 2px  white;  
      font-weight: bold;
      font-size: 25px; 
      text-align: center;
      float:center;
   }

 h2{ 
      font-weight: bold;
      font-size: 30px; 
      text-align: center;
      }
      
      h3{ 
       background-color: #ad2818 ;
       color: #efeaa4 ;
      font-weight: bold;
      font-size: 30px; 
      text-align: center;
      margin: 40px 0px 20px 0px; 
      text-shadow: 2px 2px  black;  
      border-radius: 20%;
      }
        h4{ 
       
      font-weight: bold;
      
      }


    
#foto{

margin: 10px 0px 10px 80px;
height: 210px;
float:left;
border-radius: 60%;
}
    
#fotom{

margin: 0px 0px 10px 0px;
height: 190px;
float:left;
border-radius: 60%;
}
#fotobio{

margin: 0px 30px 30px 20px;
height: 350px;
width: 200px;
float:left;


}
#portada{

margin: 0px 0px 30px 0px;
height: 300px;
width: 960px;
float:left;


}


 .menu{
   
    display: inline-block;
    font-weight: bold;
    font-size: 25px;
     background-color: #efeaa4 ;
        color: #black;  
    margin: 10px 0px 0px 0px;
      padding: 5px 25px 5px 5px;
    text-decoration: none;
     text-align: left;}

.menu:hover,  .menu:active{
    color: #ad2818;
  text-decoration: underline;

    
}
.tituloc{
font-family: 'Quintessential', cursive;
margin: 200px 0px 0px 0px;
    background-color: #efeaa4;
    opacity: .7;
    width: 300px;
    display: inline-block;
     font-weight: bold;
    color:  black;
    font-size: 60px;
    text-shadow: 4px 3px  white;  
}


   #izquierda{

float:left;
width: 370px;
margin: 10px 10px 10px 10px;
text-align: justify;

   }
   #centro{

float:left;
width: 370px;
margin: 10px 10px 10px 50px;
text-align: justify;

   }
      #derecha{

float:left;
width: 370px;
margin: 0px 0px 10px 0px;
text-align: justify;

   }
   
   
   #izquierdab{

float:left;
width: 200px;
margin: 10px 10px 10px 10px;
    font-size: 5px;
text-align: justify;

   }
   
     #derechab{

float:left;
width: 980px;
margin: 0px 0px 0px 0px;
text-align: justify;

   }
   

   
#texto{

margin: 10px 0px 0px 0px;
padding: 10px 10px 10px 10px;
    background-color:white;
    color:black;
    font-size: 20px; 
    text-align: justify;
float:rigth;
}

.biografiader{

margin: 10px 0px 20px 0px;
padding: 10px 10px 10px 10px;
    background-color:white;
    color:black;
    font-size: 20px; 
    text-align: justify;
float:rigth;

}


.cuento{
 	overflow: scroll;
     height: 600px;
     padding: 10px 10px 0px 0px; 
}

i{
   font-weight: bold;
      font-size: 20px; 
     
}

a{
      font-family: 'Libre Baskervilles 70px';
     font-style: italic;
    background-color: #fa3756;
    font-weight: bold;
    color:  black;
    margin: 10px 0px 0px 0px; 
    font-size: 60px;
    text-decoration: none;

         
}

.videos{
    float: right;
    width:900px ;
}
.videosy{
    width:720px; 
    height:480px; 
    padding-top:10px, 30px;
    padding-bottom: 10px;
}


iframe{
    width: 750px;
    height: 4500px;
}

span{
    font-style: italic;
       font-weight: bold;
      font-size: 20px; 
}




